* {
  margin: 0;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  background: var(--dark-cyan);
}

body img {
  position: absolute;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.background__image--top {
  top: -55%;
}

.background__image--bot {
  top: 55%;
  left: 50%;
}

/****CONTAINER****/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

/****CARD****/
.card {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 75% 25%;
}

/****CARD-UPPER****/
.card__upper {
  display: grid;
  grid-template-rows: 0 50% 50%;
}

.upper--top {
  background-image: url("images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.upper--mid {
  position: relative;
  margin: 28% auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: red;
  border: 5px solid white;
  background-image: url("images/image-victor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.upper--bot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper--bot__name {
  font-weight: 700;
  margin: 40px 0 10px 0;
}

.upper--bot__age {
  color: var(--dark-gray);
  padding-left: 5px;
}

.upper--bot__city {
  font-size: 0.9em;
  color: var(--dark-gray-blue);
}

/****CARD-LOWER****/
.card__lower {
  border-top: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.lower__box {
  display: flex;
  flex-direction: column;
}

.lower__box--top {
  font-weight: 700;
  text-align: center;
}

.lower__box--bot {
  color: var(--dark-gray);
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
